<!DOCTYPE html>
<html>
<head>
  <title>Booking Status Update</title>
</head>
<body>
  <h2>Booking Status Update</h2>
  <p>Hello <%= @booking.user.full_name %>,</p>
  <p>Your booking status for <b><%= @booking.car.name %></b> has been updated.</p>
  <p><strong>Updated Details:</strong></p>
  <ul>
    <li><strong>Status:</strong> <%= @booking.status %></li>
  </ul>
</body>
</html>
