<div class="container">
  <div class="d-flex justify-content-between align-items-center mt-5">
    <div class="notification_title mt-5">
      <h3 class="fw-bold">Notifications</h3>
      <p class="text-muted fw-light ">All your recent notifications will pop here!</p>
    </div>
    <div class="notification_icon d-flex justify-content-center align-items-center flex-column">
      <%= inline_svg_tag('svg/bell', width: '30px', height: 'auto') %>
    </div>
  </div>
  <hr class="mb-5">
  <%= render 'notification/notifications' %>
</div>

