<div class="wrapper" data-controller="sidebar">
  <%= render 'partials/sidebar' %>
  <div class="main">
    <%= render 'partials/dashboard_navbar' %>

    <main class="content px-3 py-2">
      <div class="container" style="margin-top: 100px;">
        <div class="row justify-content-center">
          <div class="col text-center ">
            <%= render 'partials/header', title: 'Manage Bookings', paragraph: "Welcome to the Manage Bookings section of Vroom. Here, as an admin or seller, you have full control over your bookings.", svg_name: 'booking', invite_user: false %>
          </div>
        </div>
        <hr>
        <div class="row mt-5">
          <div class="col">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Car Details</th>
                    <th scope="col">Requested User</th>
                    <th scope="col">Requested To</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody id="bookings">
                  <% @bookings.each do |booking| %>
                    <%= render 'bookings_row', booking: booking %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
