<%= form_with(model: [@car, @car.comments.build], url: car_comments_path(@car)) do |f| %>
  <div class="d-flex gap-2">
    <%= f.text_area :title, class: 'form-control', rows: "3", placeholder: "Join the discussion and leave a comment!", id: 'comment_form' %>
  </div>
    <%= f.submit 'Add Comment', class: 'btn btn-primary w-100 mt-2' %>
<% end %>
