<div class="container">
  <div class="text-center">
    <h3 class="fw-bold text-primary"><%= message %></h3>
    <hr>
    <%= inline_svg_tag('svg/error') %>
    <small class="lead text-muted"><%= paragraph %></small>
    <br>
  </div>
</div>