<div class="px-3 py-2 text-bg-dark border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between  mt-3 mb-3">
      <%= link_to image_tag('VROOM.png', style: 'filter: brightness(0) invert(1);', width: '100', height: 'auto'), root_path %>
      <button class="btn btn-dark border" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="bi bi-list"></i>
      </button>
    </div>
  </div>
</div>