<div class="d-flex justify-content-between align-items-center">
  <div class="user_details">
    <% if user&.email.present? && car&.name.present? %>
      <b><%= image_tag(user_avatar(user), size: '30x30', class: 'rounded-circle mx-2') %>
        <%= user.email %></b>
      left a review on <%= link_to(car.name, car_path(car), class: 'text-decoration-none', data: { turbo_frame: '_top' }) %>
    <% else %>
      <span class="text-danger">The comment has been deleted by the user</span>
    <% end %>
  </div>
  <div class="notification_status">
    <% if unread %>
      <i class="bi bi-check text-secondary"></i>
    <% else %>
      <i class="bi bi-check-all text-success"></i>
    <% end %>
    <br>
  </div>
</div>
<hr>
