<div class="container">
  <div class="text-center">
    <h1 class="fw-bold main_header">Car Booked</h1>
    <%= inline_svg_tag('svg/bookings', width: '300') %></br>
    <span class="text-muted">You can view all your bookings through </br> the link below</span>
    <br>
    <p class="mt-3"><%= link_to 'View Your Bookings', bookings_path %></p>
  </div>
</div>
