<%= turbo_stream.replace "car-booking-form" do %>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh" >
    <%= render 'bookings/booked'%>
  </div>
<% end %>