<div class="d-flex align-items-center justify-content-center flex-column" style="height: 100vh;">
  <h1 class="fw-bold text-white mt-5 text-center display-5"><%= raw text %></h1>
  <%= image_tag 'vroom/vroom_inverted.png', class: 'img-fluid mt-5', style: 'width: 25%;' %>
</div>
