<div class="d-flex align-items-center justify-content-center flex-column" style="height: 100vh;">
  <h1 class="fw-bold text-white mt-5 text-center display-5"><%= raw text %></h1>
  <%= image_tag 'VROOM.png', class: 'img-fluid mt-5', style: 'width: 30%;' %>
  <%= image_tag 'VROOM.png', class: 'img-fluid logo-blurred', style: 'width: 60%;' %>
</div>
