<div class="container">
  <% if current_user.bookings.present? %>
  <div class="row justify-content-center">
    <div class="col text-center ">
      <h1 class="fw-bold mt-5">Manage Bookings</h1>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Duration</th>
              <th scope="col">Car Details</th>
              <th scope="col">Requested To</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="bookings">
            <% @bookings.each do |booking| %>
              <%= render 'user/bookings', booking: booking %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% else %>
    <div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
      <div class="text-center">
        <h2 class="fw-bold main_header">No Booking's Found!</h2>
        <%= inline_svg_tag('svg/bookings', width: '300') %></br>
        <span class="text-muted">You can start booking </br> the link below</span>
        <br>
        <p class="mt-3"><%= link_to 'Start Booking', cars_path %></p>
      </div>
    </div>
  <% end %>
</div>