<div class="d-flex justify-content-center align-items-center p-5 text-center bg-body-tertiary rounded-3" style="height: 70vh;">
  <div class="text-center">
    <h1 class="fw-bold main_header">Feedback successfully sent!</h1>
    <%= inline_svg_tag('svg/unDraw/success', width: '300', height: '300') %></br>
    <span class="text-muted text-lead">Thank you for your feedback! <br/> It has been successfully sent and will be received by our administration team. <br/> They will review it promptly to ensure your concerns and suggestions are addressed.</span>
    <br>
    <p class="mt-3"><%= link_to 'Return Home', root_path %></p>
  </div>
</div>