<div>
  <%= button_to room_path(room), method: :delete, class: 'btn btn-sm btn-danger w-100', data: { turbo_confirm: 'You sure? '}  do %>
    <%= inline_svg_tag('svg/trash.svg') %>
  <% end %>
</div>
