<div class="d-flex gap-2 justify-content-center">
  <%= button_to room_path(room), method: :delete, class: 'btn btn-sm btn-danger', data: { turbo_confirm: 'You sure? '}  do %>
    <i class="bi bi-trash3"></i>
  <% end %>
  <%= link_to edit_room_path(room), class: 'btn btn-success btn-sm w-100' do%>
    <i class="bi bi-pen"></i>
  <% end %>
</div>
