<p>Dear <%= @user.full_name %>,</p> <br>
<b>Congratulations! You're now officially part of the VROOM's newsletter community. 🌿 </b>
<p>We're thrilled to have you on board and can't wait to share our latest updates and exclusive offers with you.</p>
<p>If you ever have any questions, suggestions, or just want to say hello, feel free to reach out to us at <b>noreply@vroom.com</b></p>
<p>Thank you for joining us on this journey!</p>
<p>
  Warm regards, <br>
  VROOM Team
</p>