.simple-calendar {
  font-family: 'Inter', sans-serif;
  
  .day {
    text-align: center;
    font-size: 1.2rem;
  }

  .wday-6 {
    color:  red; 
    font-weight: 700;
  }

  .today {
    position: relative;
    font-size: 1.3rem;
    z-index: 1;
    color: white;
  }
  .today::before{
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(10,44,132);
    top: 48%;
    left: 50%;
    content: '';
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .past {
    font-weight: 400;
    color: rgba(128, 128, 128, 0.673);
  }

  .future {
    background-color: white;
  }

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    font-weight: 700;
  }

}