<div class="wrapper" data-controller="sidebar">
  <%= render 'partials/sidebar' %>
  <div class="main">
    <%= render 'partials/dashboard_navbar' %>

    <main class="content px-3 py-2" style="margin-top: 40px;">
      <div class="container">
        <%= render "form", car: @car %>
      </div>
    </main>
  </div>
</div>
